body {
	background-size: cover;
	background-position:center;
	font-family: "Nunito", sans-serif;
    background: #f1f1f1;
    
}

/* css for navBar */
nav {
    font-weight: 400;
    opacity: .8;
  }

#navDropdown {
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none;
}

/* css for header/landing */

header {
  background-image: url("imgs/landing.jpg");
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: context-menu;
  border-left: 40px solid #e77d19;
  padding-right: 40px;  
}

@media only screen
  and (max-width: 750px) {
    header {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      border-left: 20px solid #e77d19;
      padding-right: 0;
    }

}


.mainheader {
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  margin: 0 auto 0;
  padding: 20px 0 2px 0;
  display: inline-block;
  color: white;
  border-top: 8px solid #e77d19;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 450px;
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 1),
                0px 8px 13px rgba(0, 0, 0, 0.1),
			          0px 18px 23px rgba(0, 0, 0, 0.1);
}

@media only screen
  and (max-width: 750px) {
    .mainheader {
      width: 100%;
      font-weight: bold;
      color: white;
      line-height: 1.3em;
      margin: 0 0 60px 0;
    }

    .mainheader span {
      color: white;
      font-size: 17px;
      letter-spacing: 1px;
      line-height: 2em;
    }

    .landing {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      height: 450px;
      text-shadow: 3px 4px 3px rgba(0, 0, 0, 1),
                    0px 8px 13px rgba(0, 0, 0, 0.1),
			              0px 18px 23px rgba(0, 0, 0, 0.1);
    }

    .landing-name {
      margin-top: 60px;
    }

}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  font-style: normal;
  font-size: 64px;
  line-height: 1.3em;
  letter-spacing: .03em;
  text-transform: none;
  color: white;
}

/* css for about section */

.about-section > .container {
  text-align: center;
  /* border-bottom : 20px solid #e77d19; */
  margin-bottom : 20px;
  padding : 25px 0;
  flex-direction: row;
}

.about-section > .container > .row > .aName {
  font-family : 'Montserrat', sans-serif;
  font-size : 60px;
  font-weight : 600;
  line-height: 1.3em;
  letter-spacing: .03em;
  /* width: 50%; */
  text-align: center;
  padding : 50px 0 5px 0;
  border-bottom : 10px solid #e77d19;  
  margin-bottom: 50px;
}

.about-section > .container > .itemBox > .item {
	height : auto;
	background-color: white;
	padding : 20px;
	margin : 10px;
	transition : all 0.5s ease;
}

.about-section > .container > .itemBox > .item:hover {
	transform: scale(1.015);
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.about-section > .container > .itemBox > .item > .icon > i {
  font-size: 60px;
  color: #e95d3c;
  text-align: center;
}

.about-section > .container > .itemBox > .item > .icon> .about {
  font-family : 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: bold;
	padding: 10px 0;
}

.about-section > .container > .itemBox > .item > .content {
	font-size : 16px;
	letter-spacing : 1.5px;
  padding : 10px 0;
  text-align : center;
}

@media only screen
  and (max-width: 750px) {
  .about-section > .container > .itemBox {
    flex-direction : column;
    margin: 0 auto;
  }
}

/* css for technical skills */

.technicalSkills {
  background-color: #27211b;
  background-size: cover;
  background-position: center center;
  border-top: 20px solid #e77d19;
}

.technicalSkills > .container {
  color: white;
}

.technicalSkills > .container > .row > .tsName {
  font-family : 'Montserrat', sans-serif;
  font-size : 60px;
  font-weight : 600;
  line-height: 1.3em;
  letter-spacing: .03em;
  /* width: 50%; */
  text-align: center;
  padding : 50px 0 5px 0;
  border-bottom : 10px solid #e77d19;  
  margin-bottom: 50px;
}

.technicalSkills > .container > .row > .item {
  text-align: center;
  margin-bottom: 70px;
}

.technicalSkills > .container > .row > .item > img {
  padding: 5px;
}

.technicalSkills > .container > .row > .item > .skillType {
  font-family : 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: bold;
  padding: 10px 0;
  text-align: center;
}

.technicalSkills > .container > .row > .item > .skillType > .fa-file-code {
  font-size: 60px;
  color:  #e77d19;
  padding-right: 5px;
}

.technicalSkills > .container > .row > .item > .skillType > .fa-camera {
  font-size: 60px;
  color:  #e77d19;
  padding-right: 5px;
}

.technicalSkills > .container > .row > .item > .skillType > .fa-laptop {
  font-size: 60px;
  color:  #e77d19;
  padding-right: 5px;
}

.technicalSkills > .container > .row > .item > .skillType > .fa-drafting-compass {
  font-size: 60px;
  color:  #e77d19;
  padding-right: 5px;
}

/* css for experience section */

.xPerience > .row > .xpName {
  font-family : 'Montserrat', sans-serif;
  font-size : 60px;
  font-weight : 600;
  line-height: 1.3em;
  /* letter-spacing: 0.2em; */
  text-align: center;
  padding : 50px 0 5px 0;
  border-bottom : 10px solid #e77d19;  
  margin-bottom: 10px;
}

.xPerience > .container-fluid {
  padding: 40px 0 0 0;
}

.xPerience > .container-fluid > .row {
  width: 100%;
  margin-left: 0px;
}

.xPerience > .container-fluid > .row > .expBox {
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
}

.xPerience > .container-fluid > .row > .expBox > img {
  display: block;
  max-height: 400px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.xPerience > .container-fluid > .row > .expBox > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  background-color: rgba(255, 255, 255, 0);
  transition: 200ms;
  opacity: 0;
  display:flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.xPerience > .container-fluid > .row > .expBox > .overlay:hover {
  background-color: rgba(255, 255, 255, 0.75);
  opacity: 1;

  display: flex;
  text-align: center;
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 2px;  
}

.xPerience > .container-fluid > .row > .expBox > .overlay > h3 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
}

.xPerience > .container-fluid > .row > .expBox > .overlay > h3:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 5px;
  border-bottom: 3px solid#e77d19;
}

.xPerience > .container-fluid > .row > .expBox > .overlay > p {
  font-size: 15px;
  padding: 0 40px;
}

@media only screen and (max-width: 1200px) {
  .xPerience > .container-fluid > .row > .expBox > .overlay {
    height : 100%;
  }

  .xPerience > .container-fluid > .row > .expBox > img {
    height : 500px;
  }
}

/* css for contact section */

.contactSection {
  background-image: url("imgs/picturebottom.jpg");
  background-position: center top;
  /* background-attachment: fixed; */
  background-size: 100%;
  background-repeat: no-repeat;
  /* cursor: context-menu; */
  height: 450px;
  border-right: 40px solid #e77d19;
  padding-left: 40px;  
}

.contactSection > .container {
  color : white;
}

.contactSection > .container > .cName {
  font-family : 'Montserrat', sans-serif;
  font-size : 60px;
  font-weight : 600;
  line-height: 1.3em;
  letter-spacing: .03em;
  width: 30%;
  padding : 50px 0 5px 0;
  border-bottom : 10px solid #e77d19;
}

.contactSection > .container > .contIcons {
  font-size: 60px;
  text-align: left;
  text-decoration: none;
  padding: 5px;
}

/* color change for contact icons */
.contactSection > .container > .contIcons > .fa-linkedin {
  color: white;
}

.contactSection > .container > .contIcons > .fa-github-square {
  color: white;
}

.contactSection > .container > .contIcons > .fa-envelope-square {
  color: white;
}

.contactSection > .container > .contMessage {
  font-family : 'Montserrat', sans-serif;
  text-align: right;
  font-size: 34px;
  padding-right: 30px;
  line-height: .8em;
}

@media only screen
  and (max-width: 750px) {
    .contactSection {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-right: 20px solid #e77d19;
      padding-left: 0;
    }

    .contactSection > .container > .cName {
      width : 60%;
    }

}
