@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;600;700&display=swap');

@layer utilities {
  .animation-1-3 {
    animation-delay: 1s;
    animation-duration: 3s;
  }
  .animation-3-5 {
    animation-delay: 3s;
    animation-duration: 5s;
  }
  .animation-3-3 {
    animation-delay: 3s;
    animation-duration: 3s;
  }
  .animation-7-4 {
    animation-delay: 7s;
    animation-duration: 4s;
  }
}
